@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --color-cyan-600: hsla(192, 37%, 48%, 1);
    --color-cyan-300: hsla(192, 90%, 77%, 1);
    --color-purple-600: hsla(268, 34%, 53%, 1);
    --color-purple-300: hsla(268, 100%, 86%, 1);
    --color-slate-900: hsla(240, 21%, 20%, 1);
    --color-slate-600: hsla(240, 10%, 57%, 1);
    --color-slate-300: hsla(240, 18%, 85%, 1);
    --color-white: hsla(0, 0%, 98%, 1);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  /*------- Phone Screen-------- */

@media (max-width: 375px){

  html, body{
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
  }

  .landing-hero_left-image,.landing-hero_right-image{
    display: none;
  }

  .landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav_logo{
    padding: 48px 80px 0PX 80px;
    align-items: center;
  }

  .landing-hero{
    height: 639px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 32px 32px 32px;
  }

  .landing-hero .landing-hero_combined-image{
    height: 160px;
    width: 433px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .landing-hero_body{
    height: 335px;
    width: 305px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .landing-hero_title{
    font-size: 40px;
    color: var(--color-slate-900);
    text-align: center;
    font-weight: 1000;
  }

  .landing-hero_description{
    height: 72px;
    width: 305px;
    font-size: 16px;
    text-align: center;
    color: var(--color-slate-600);
  }

  .landing-hero_buttons{
    height: 127px;
    width: 193px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .btn_download{
    height: 55px;
    width: 193px;
    background-color: var(--color-cyan-600);
    border-radius: 29px;
    color: var(--color-white);
    font-weight: bold;
    text-decoration: none;
    display: block; 
    padding: 1rem 1rem 1rem 2.5rem;
  }

  .btn_download span{
    color: var(--color-cyan-300);
    padding-left:5px;
  }

  .btn_landing-hero_info{
    height: 56px;
    width: 161px;
    background-color: var(--color-purple-600);
    border-radius: 29px;
    color: var(--color-white);
    text-decoration: none;
    display: block; 
    padding: 1rem 1rem 1rem 2.5rem;
    font-weight: bold;
  }

  .main{
    height: 915px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px 64px 32px;
  }

  .features{
    height: 819px;
    width: 311px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin: 32px 32px 64px 32px
  }

  .num{
    height: 136px;
    width: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .num_line{
    height: 80px;
    width: 1px;
    background-color: var(--color-slate-300);
  }

  .num_circle{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 1px solid var(--color-slate-300);
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: var(--color-white);
    color: var(--color-slate-600);
    text-align: center;
    padding: 17px;
    font-weight: 1000;
    z-index: 100;
  }

  .features_gallery{
    height: 304px;
    width: 311px;
  }

  .features_gallery1, .features_gallery2{
    height: 144px;
    width: 100%;
  }

  .features_image{
    height: 144px;
    width: 148px;
    border-radius: 10px;
    padding: 4px;
  }

  .features_info{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 251px;
    width: 311px;
  }

  .features_subheading{
    height: 13px;
    width: 100%;
    color: var(--color-cyan-600);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 110%;
    font-weight: 800;
    margin-bottom: 16px;
  }

  .features_title{
    height: 70px;
    width: 100%;
    color: var(--color-slate-900);
    font-size: 32px;
    font-weight: 1000;
    margin-bottom: 32px;
  }

  .features_description{
    height: 120px;
    width: 311px;
    color: var(--color-slate-600);
    font-size: 16px;
    font-weight: 600;
  }

  .page-footer {
    height: 374px;
    width: 375px;
    position: relative;
    background-color: var(--color-cyan-900);
    overflow: hidden;
    margin-top: -26px;
    padding: 64px 32px;
    text-align: center;
}

.page-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/desktop/image-footer.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
}

.page-footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-cyan-600);
    z-index: -1;
}

.page-footer_content{
  height: 246px;
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.page-footer_title{
  height: 70px;
  width: 311px;
  align-items: center;
  color: white;
  font-size: 32px;
  font-weight: 1000;
}

.page-footer_description{
  font-size: 16px;
  color: var(--color-white);
  line-height: 150%;
}

.page-footer_btn{
  height: 55px;
  width: 193px;
  background-color: var(--color-purple-600);
  border-radius: 29px;
  color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 1;
}

.page-footer_btn span{
  color: var(--color-purple-300);
}

}

   
      /*------ for tablet----- */


@media (max-width: 768px) and (min-width: 374px){
  html, body{
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
  }

  .landing-hero_left-image,.landing-hero_right-image{
    display: none;
  }

  .landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav{
    height:76px;
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_logo{
    padding: 48px 80px 0PX 80px;
    align-items: center;
  }

  .landing-hero{
    height: 768px;
    width: 761px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px 64px 32px;
    gap: 72px;
  }

  .landing-hero .landing-hero_combined-image{
    height: 303px;
    width: 820px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .landing-hero_body{
    height: 258px;
    width: 449px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .landing-hero_title{
    height: 106px;
    width: 100%;
    font-size: 48px;
    line-height: 110%;
    color: var(--color-slate-900);
    text-align: center;
    font-weight: 1000;
  }

  .landing-hero_description{
    height: 48px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: var(--color-slate-600);
    line-height: 150%;
  }

  .landing-hero_buttons{
    height: 56px;
    width: 371px;
    display: flex;
    gap: 17px;
    align-items: center;
  }

  .btn_download{
    height: 55px;
    width: 193px;
    background-color: var(--color-cyan-600);
    border-radius: 29px;
    color: var(--color-white);
    font-weight: bold;
    text-decoration: none;
    display: block; 
    padding: 1rem 1rem 1rem 2.5rem;
  }

  .btn_download span{
    color: var(--color-cyan-300);
    padding-left:5px;
  }

  .btn_landing-hero_info{
    height: 56px;
    width: 161px;
    background-color: var(--color-purple-600);
    border-radius: 29px;
    color: var(--color-white);
    text-decoration: none;
    display: block; 
    padding: 1rem 1rem 1rem 2.5rem;
    font-weight: bold;
  }

  .main{
    height: 915px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px 64px 32px;
  }

  .features{
    height: 759px;
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 56px 32px 64px 32px
  }

  .num{
    height: 136px;
    width: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .num_line{
    height: 80px;
    width: 1px;
    background-color: var(--color-slate-300);
  }

  .num_circle{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 1px solid var(--color-slate-300);
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: var(--color-white);
    color: var(--color-slate-600);
    text-align: center;
    padding: 17px;
    font-weight: 1000;
    z-index: 100;
  }

  .features_gallery{
    height: 160px;
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .features_gallery1, .features_gallery2 {
    display: flex;
    gap: 24px; 
}


  .features_image{
    height: 160px;
    width: 152px;
    border-radius: 10px;
  }

  .features_info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 251px;
    width: 504px;
  }

  .features_subheading{
    height: 14px;
    width: 100%;
    color: var(--color-cyan-600);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 110%;
    font-weight: 800;
    margin-bottom: 16px;
  }

  .features_title{
    height: 80px;
    width: 445px;
    color: var(--color-slate-900);
    font-size: 36px;
    line-height: 110%;
    font-weight: 1000;
    margin-bottom: 32px;
  }

  .features_description{
    height: 72px;
    width: 504px;
    color: var(--color-slate-600);
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
  }

  .num2{
    margin: 64px 0 0 0;
  }

  .page-footer {
    height: 320px;
    width: 768px;
    position: relative;
    background-color: var(--color-cyan-900);
    overflow: hidden;
    margin-top: -26px;
    padding: 64px 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.page-footer::before, 
.page-footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-footer::before {
    background-image: url(assets/desktop/image-footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
}

.page-footer::after {
    background-color: var(--color-cyan-600);
    z-index: -2;
}


.page-footer_content{
  height: 192px;
  width: 504px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.page-footer_title{
  height: 40px;
  width: 504px;
  align-items: center;
  color: white;
  font-size: 32px;
  font-weight: 1000;
}

.page-footer_description{
  height: 48px;
  width: 504px;
  font-size: 16px;
  color: var(--color-white);
  line-height: 150%;
}

.page-footer_btn{
  height: 56px;
  width: 193px;
  background-color: var(--color-purple-600);
  border-radius: 29px;
  color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 1;
}

.page-footer_btn span{
  color: var(--color-purple-300);
}
}


    /* ---------desktop----- */

@media (min-width: 769px){
  html, body{
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .landing-hero_combined-image{
    display: none;
  }
  
  .landing-page{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav{
    height: 108px;
    width: 1440px;
    align-items: center;
    text-align: center;
    padding: 60px 80px 0px 80px;
  }

  .nav_logo{
    padding: 48px 80px 0PX 80px;
    align-items: center;
    position:relative;
  }

  .landing-hero_left-image{
    display: block;
    right: 5%;
  }

  .landing-hero_right-image{
    display: block;
    order: 1;
  }

  .landing-hero{
    height: 488px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:6rem;
    margin: 4rem 0;
  }

  .landing-hero_body{
    height: 314px;
    width: 449px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }

  .landing-hero_title{
    height: 140px;
    width: 100%;
    font-size: 64px;
    color: var(--color-slate-900);
    text-align: center;
    font-weight: 1000;
  }

  .landing-hero_description{
    height: 54px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: var(--color-slate-600);
  }

  .landing-hero_buttons{
    height: 56px;
    width: 371px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .btn_download{
    height: 55px;
    width: 193px;
    background-color: var(--color-cyan-600);
    border-radius: 29px;
    color: var(--color-white);
    font-weight: bold;
    text-decoration: none;
    display: block; 
    padding: 1rem 1rem 1rem 2.5rem;
  }

  .btn_download span{
    color: var(--color-cyan-300);
    padding-left:5px;
  }

  .btn_landing-hero_info{
    height: 56px;
    width: 161px;
    background-color: var(--color-purple-600);
    border-radius: 29px;
    color: var(--color-white);
    text-decoration: none;
    display: block; 
    padding: 1rem 1rem 1rem 2.5rem;
    font-weight: bold;
  }

  .features{
    height: 910px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 56px 80px 72px 80px;
  }

  .num{
    height: 136px;
    width: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .num_line{
    height: 80px;
    width: 1px;
    background-color: var(--color-slate-300);
  }

  .num_circle{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 1px solid var(--color-slate-300);
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: var(--color-white);
    color: var(--color-slate-600);
    text-align: center;
    padding: 17px;
    font-weight: 1000;
    z-index: 100;
  }

  .features_gallery{
    height: 256px;
    width: 1120px;
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .features_gallery1, .features_gallery2{
    display: flex;
    gap: 32px;
    margin: 0 auto;
  }

  .features_image{
    height: 256px;
    width: 256px;
    border-radius: 10px;
    padding: 4px;
  }

  .features_info{
    height: 262px;
    width: 445px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 32px;
  }

  .features_subheading{
    height: 18px;
    width: 272px;
    color: var(--color-cyan-600);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 4px;
    line-height: 110%;
    font-weight: 800;
  }

  .features_title{
    height: 88px;
    width: 445px;
    color: var(--color-slate-900);
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 32px;
  }

  .features_description{
    height: 120px;
    width: 100%;
    color: var(--color-slate-600);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .page-footer {
    height: 420px;
    width: 1440px;
    position: relative;
    background-color: var(--color-cyan-900);
    overflow: hidden;
    margin-top: -30px;
    padding: 112px 80px 112px 80px;
}

.page-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/desktop/image-footer.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
}

.page-footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-cyan-600);
    z-index: -1;
}

.page-footer_content{
  height: 88px;
  width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.page-footer_title{
  height: 88px;
  width: 445px;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: 1000;
}

.page-footer_description{
  height: 81px;
  width: 355px;
  font-size: 18px;
  color: var(--color-white);
  line-height: 150%;
}

.page-footer_btn{
  height: 56px;
  width: 193px;
  background-color: var(--color-purple-600);
  border-radius: 29px;
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 1;
}

.page-footer_btn span{
  color: var(--color-purple-300);
}

}